/* *{
    border: 1px solid black;
} */

.header-start{
    position: sticky;
    top: 0px;
    border-bottom: 1px solid rgb(214, 211, 211);
    background-color: white;
    margin: 0px;    
}
.nav-left{
    margin-left: 20px;
    position: absolute;
    top: 5px;
}    
.fa-bars,
.fa-search{
    margin: 5px;
}
.nav-left-word{
    font-family: sans-serif;
}
.nav-center{
    width: 240px;
    height: 30px;
    margin-left: 520px;
    padding-top: 5px;

}
.nav-right{
    margin-left: 335px;
    position: absolute;
    top: 5px;
}
.nav-left,
.nav-center,
.nav-right{
    display: inline-block;
    
}
.right-button{
    width: 140px;
    height: 35px;
    background-color: #567b95;
    color: white;
    border-radius: 4px;
}
.right-button1{
    width: 80px;
    height: 35px;
    background-color: #567b95;
    color: white;
    border-radius: 4px;
}
.nav-word{
    font-size: 30px;
}
.section-photo{
    width: 945px;
    height: 531px;
    margin-left: 200px;
}
.section-word{
    margin-left: 200px;
    color: #333;
}
.word-style{
    color: #888;
    font-size: 13px;
}
h3{
    margin-left: 400px;
}
.data{
    margin-left: 400px;
}
.for-logo{
    margin-left:400px;
}
.for-icon{
    width: 17px;
    height: 17px;
    background-color: rgb(182, 179, 179);
    border-radius: 50px;
    padding: 3px;
}
.for-icon:hover{
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;


}
.for-icon-1{
    width: 20px;
    height: 20px;
}
.by-text{
    width: 550px;
    font-size: 20px;
    margin-left: 400px;
    color: #333;
}
.for-border{
    border-bottom: 1px solid #888;
    width: 70px;

}
aside{
    float: right;
    width: 250px;
    height: 350px;
    position: relative;
    bottom: 100px;

}
.for-name{
    font-size: 18px;
    border-bottom: 1px solid #888;
    
}
.aside-img{
    width: 75px;
    height: 75px;
    float: left;
    margin-bottom: 15px;
}
.aside-text{
    width: 140px;
    float: right;
    position: relative;
    bottom: 16px;
    right: 25px;
}
.aside-text2{
    width: 140px;
    float: right;
    position: relative;
    bottom: 28px;
    right: 25px; 
}
.aside-text3{
    width: 140px;
    float: right;
    position: relative;
    bottom: 42px;
    right: 25px;
}
.for-astro{
    width: 945px;
    margin-left: 200px;
}
.word-style1{
    font-size: 16px;
    color: #666;
}
.astro-img{
    width: 945px;
    height: 576px;
}
.for-larry{
    font-size: 15px;
    color: #323232;
}
.for-video{
    margin-left: 400px;
}
.for-video-text{
    font-size: 15px;
    color: #333;
}
.for-video-text1{
    font-size: 12px;
    color: #888;
}
.by-next{
    font-size: 12px;
    color: #666;
    margin-left: 400px;
    position: relative;
}
.for-button-next{
    margin-left: 400px;
    width: 220px;
    height: 35px;
    background-color: #567b95;
    color: white;
    border-radius: 4px;   
}
.for-icon1{
    width: 15px;
    height: 15px;
    background-color: rgb(182, 179, 179);
    border-radius: 50px;
    padding: 2px;
    margin: 9px;
    position: relative;
    right: 240px;
    top: 10px;

}
.section-left-astro{
    /* display: block; */
    width: 770px;
    height: 1100px;
    margin-left: 110px;
    /* width: fit-content; */
    border-top: 1px solid black;
}
.for-title-ast{
    /* margin-left: 5px; */
    font-size: 15px;
    margin: 30px 0 0;
    padding-bottom: 30px;

} 
/* .sanjik761{
    position: relative;
}  */
.section-right-pop{
    width: 285px;
    height: 1100px;
    float: right;
    position: relative;
    bottom: 1101px;
    right: 130px;
    border-top: 1px solid black;
}    
.for-title-pop{
    font-size: 15px;
    margin: 30px 30px 30px 0;
    padding-bottom: 30px;
}
.for-photo-text{
    font-size: 10px;
    color: #888;
    position: relative; 
    bottom: 5px;
}
.for-text-by-photo{
    font-size: 18px;
    position: relative;
    bottom: 14px;
    /* margin-bottom: 30px; */
}
.for-img-aria{
    position: relative;
    right: 40px;
    bottom: 18px;
    width: fit-content;
    height: 270px;
}
.data-1{
    font-size: 12px;
    color: #888;
}
.for-photo-text,
.for-text-by-photo{
    height: 10px;
}

.for-img-aria1{
    position: relative;
    left: 220px;
    bottom: 304px;
    width: fit-content;
    height: 270px;
}
.for-img-aria2{
    position: relative;
    left: 476px;
    bottom: 590px;
    width: fit-content;
    height: 270px;
}
.for-img-aria3{
    position: relative;
    right: 40px;
    bottom: 570px;
    width: fit-content;
    height: 270px;
}
.for-img-aria4{
    position: relative;
    left: 220px;
    bottom: 856px;
    width: fit-content;
    height: 270px;
}
.for-img-aria5{
    position: relative;
    left: 476px;
    bottom: 1142px;
    width: fit-content;
    height: 270px;
}
.word-1{
    position: relative;
    bottom: 43px;
}
.word1{
    font-size: 18px;
    padding: 10px 0;
    border-top: 1px solid #e2e2e2;
    
}
/* *{
    border: 1px solid black;
} */
.for-img-aria6{
    position: relative;
    right: 40px;
    bottom: 1100px;
    width: fit-content;
    height: 270px;
}
.for-img-aria7{
    position: relative;
    left: 220px;
    bottom: 1386px;
    width: fit-content;
    height: 270px;
}
.for-img-aria8{
    position: relative;
    left: 476px;
    bottom: 1672px;
    width: fit-content;
    height: 270px;
}
.word-edit{
    position: relative;
    bottom: 1108px;
}
.h-r{
    border-top: 1px solid rgb(224, 222, 222);
    width: 1100px;
    margin-left: 110px;
}
.logo-footer{
    width: 200px;
    margin-top: 20px;
}
.logo-footer-word{
    float: right;
    margin-top: 20px;
    position: relative;
    left: 164px;
    
}
.fo-d-1{
    margin-left: 110px;
    position: relative;
    top: 20px;
    font-size: 19px;
}
.fo-ul-1{
    margin-left: 70px;
    text-decoration: none;
    margin-top: 40px;
}
/* *{
    border: 1px solid black;
} */